
.pet-container {
  background: linear-gradient(
    180deg,
    rgb(97, 177, 233) 45%, 
    rgb(50 156 229 / 65%) 50%,
    rgb(25 211 189 / 72%) 50%, 
    rgb(25, 211, 189) 55%);
  max-width: 400px;
  height: 200px;
}


.arvore {
  position: relative;
  width: 165px;
  height: 170px;
}

/* Folhas (triângulos) */
.folha {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 120px solid #2e7d32;
}

.folha.f2 {
  bottom: 40px;
  border-left-width: 80px;
  border-right-width: 80px;
  border-bottom-width: 100px;
}

.folha.f1 {
  border-left-width: 60px;
  border-right-width: 60px;
  border-bottom-width: 80px;
}

/* Tronco */
.tronco {
  margin: 0 auto;
  width: 30px;
  height: 40px;
  background-color: #6d4c41;
  position: relative;
  top: 130px;
}
 