<div class="offset-md-2 col-md-8 container">
  <div class="row card-pet_header text-center">
    <h1 class="mb-0">
        🐾 Meu Pet Virtual
    </h1>
  </div>

  <app-progress-control 
    [initialValue]="happyProgressBar()"
    progressLabel="❤️ Felicidade">
  </app-progress-control>
  <app-progress-control 
    [initialValue]="hugryprogressBar()"
    progressLabel="🍖 Fome">
  </app-progress-control>
  <app-progress-control 
    [initialValue]="temperatureprogressBar()"
    progressLabel="🌡️ Temperatura">
  </app-progress-control>

  <div class="row py-4">   
    <div class="ambience-container">
        <div class="tree">
            <div class="tree_leaf f1"></div>
            <div class="tree_leaf f2"></div>
            <div class="tree_trunk"></div>
        </div>
        <app-pet-display></app-pet-display>
    </div>
  </div>

  <div class="row p-4">
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12"
        (click)="addTimeOnProgress(hugryprogressBar, 10)">
        🍖 Alimentar
      </button>
    </div>
    <div class="col-md-6">
       <button class="btn btn-primary col-md-12"
        (click)="addTimeOnProgress(happyProgressBar, 10)">
        ❤️ Dar Carinho
      </button>
    </div>   
  </div>

  <div class="row px-4 pb-4">
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12"
        (click)="addTimeOnProgress(temperatureprogressBar, -10)"
        [disabled]="temperatureprogressBar() === 0">
        ❄️ Esfriar
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12"
        (click)="addTimeOnProgress(temperatureprogressBar, 10)">
        🔥 Aquecer
      </button>
    </div>    
  </div>
  
</div>
