<div class="offset-md-2 col-md-8 container">
  <div class="row card-pet_header text-center">
    <h1 class="mb-0">
        🐾 Meu Pet Virtual
    </h1>
  </div>
  <div class="row d-flex justify-content-between align-items-center mb-2">
    <span class="col-md-6 fw-semibold">❤️ Felicidade</span>
    <span class="col-md-1 badge bg-secondary">{{happyProgressBar()}}%</span>
  </div>
  <div class="row">
    <div class="progress col">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [style.width.%]="happyProgressBar()"
        [ngClass]="updateProgressClass(happyProgressBar())"
        [attr.aria-valuenow]="happyProgressBar()"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ happyProgressBar() }}%
      </div>
    </div> 
  </div>

  <div class="row d-flex justify-content-between align-items-center mb-2">
    <span class="col-md-6 fw-semibold">🍖 Fome</span>
    <span class="col-md-1 badge bg-secondary">{{hugryprogressBar()}}%</span>
  </div>
  <div class="row">
    <div class="progress col">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [style.width.%]="hugryprogressBar()"
        [ngClass]="updateProgressClass(hugryprogressBar())"
        [attr.aria-valuenow]="hugryprogressBar()"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ hugryprogressBar() }}%
      </div>
    </div>
  </div>  

  <div class="row d-flex justify-content-between align-items-center mb-2">
    <span class="col-md-6 fw-semibold">🌡️ Temperatura</span>
    <span class="col-md-1 badge bg-secondary">{{temperatureprogressBar()}}%</span>
  </div>
  <div class="row">
    <div class="progress col">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [style.width.%]="temperatureprogressBar()"
        [ngClass]="updateProgressClass(temperatureprogressBar())"
        [attr.aria-valuenow]="temperatureprogressBar()"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ temperatureprogressBar() }}%
      </div>
    </div>
  </div>
  <div class="row py-4">   
    <div class="ambience-container">
        <div class="tree">
            <div class="tree_leaf f1"></div>
            <div class="tree_leaf f2"></div>
            <div class="tree_trunk"></div>
        </div>
        <app-pet-display></app-pet-display>
    </div>
  </div>

  <div class="row p-4">
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12">
        🍖 Alimentar
      </button>
    </div>
    <div class="col-md-6">
       <button class="btn btn-primary col-md-12">
        ❤️ Dar Carinho
      </button>
    </div>   
  </div>

  <div class="row px-4 pb-4">
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12">
        ❄️ Esfriar
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary col-md-12">
        🔥 Aquecer
      </button>
    </div>
    
    
  </div>
  
</div>
