.monster {
    position: relative;
    width: 164px;
    height: 200px;
    background: #6b7cff;
    border-radius: 80px 80px 60px 60px;

    &_eye {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 50%;
    }

    &_eye::before {
        content: "";
        position: absolute;
        top: 18px;
        left: 18px;
        width: 30px;
        height: 30px;
        background: #222;
        border-radius: 50%;
    }

    &_mouth {
    position: relative;
    bottom: -118px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 18px;
    z-index: 10;
    background: #222;
    border-radius: 0 0 30px 30px;
    }

    &_belly {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 62px;
        background: #f5e4c3;
        border-radius: 50%;
    }

    &_arm {
        position: absolute;
        top: 90px;
        width: 40px;
        height: 80px;
        background: #6b7cff;
        border-radius: 20px;

        &.left {
            left: -15px;
            transform: rotate(-20deg);
        }

        &.right {
            right: -15px;
            transform: rotate(20deg);
        }
    }
}

.small {
  transform: scale(0.5);
}

.monster_ear {
    position: absolute;
    top: -20px;
    width: 30px;
    height: 30px;
    background: #6b7cff;
    border-radius: 50%;

    &.left {
        left: 30px;
    }

    &.right {
        right: 30px;
    }
}
